<p>
<div class="col-md-12">
<div class="row">
<h5><i class="glyphicon glyphicon-user" aria-hidden="true"></i><%= comment.nickname %>
  <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i><%= comment.created_at %>
</h5>
</div>
<div class="row">
  <%= comment.content %>
</div>
  </div>
</p>