// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.timeline {
  margin-left: 15px;
}

i {
  padding-right: 5px;
}

iframe {
  &.wysihtml5-sandbox {
    resize: vertical;
  }
}